<!DOCTYPE html>
<html>
  
  <head>
    
  </head>
  <body>
    <form action="/calcular_ahorro">
      
      <div> Meta del ahorro: <input type="number" name="meta" /> </div>
      <div> Meses a ahorrar: <input type="number" name="meses" /> </div>
      <div> Abono extra: <input type="number" name="abono" /> </div>
      <div> Valor interes: <input type="number" name="interes" /> </div>

      <input type="submit" value="Calcular ahorro" />
      
    </form>
  </body>
  
</html>
